.idea/.idea.SigmaSoftwareCourse/.idea/.gitignore
.idea/.idea.SigmaSoftwareCourse/.idea/encodings.xml
.idea/.idea.SigmaSoftwareCourse/.idea/indexLayout.xml
.idea/.idea.SigmaSoftwareCourse/.idea/vcs.xml
SigmaSoftware/bin/Debug/net6.0/SigmaSoftware.deps.json
SigmaSoftware/bin/Debug/net6.0/SigmaSoftware.dll
SigmaSoftware/bin/Debug/net6.0/SigmaSoftware.exe
SigmaSoftware/bin/Debug/net6.0/SigmaSoftware.pdb
SigmaSoftware/bin/Debug/net6.0/SigmaSoftware.runtimeconfig.json
SigmaSoftware/obj/project.assets.json
SigmaSoftware/obj/project.nuget.cache
SigmaSoftware/obj/project.packagespec.json
SigmaSoftware/obj/rider.project.restore.info
SigmaSoftware/obj/SigmaSoftware.csproj.nuget.dgspec.json
SigmaSoftware/obj/SigmaSoftware.csproj.nuget.g.props
SigmaSoftware/obj/SigmaSoftware.csproj.nuget.g.targets
SigmaSoftware/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SigmaSoftware/obj/Debug/net6.0/apphost.exe
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.AssemblyInfo.cs
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.AssemblyInfoInputs.cache
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.assets.cache
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.csproj.AssemblyReference.cache
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.csproj.CoreCompileInputs.cache
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.csproj.FileListAbsolute.txt
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.dll
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.GeneratedMSBuildEditorConfig.editorconfig
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.genruntimeconfig.cache
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.GlobalUsings.g.cs
SigmaSoftware/obj/Debug/net6.0/SigmaSoftware.pdb
SigmaSoftware/obj/Debug/net6.0/ref/SigmaSoftware.dll
SigmaSoftware/obj/Debug/net6.0/refint/SigmaSoftware.dll
